*, *:before, *:after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Courier New", Courier, monospace;
  background-color: #3D915D;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

h1 {
  font-size: 84px;
}

p {
  margin: 1px;
  font-size: 40px;
  font-weight: 300;
  background-color: #fff;
}

.cards {
  margin: 50px auto;
  width: 90%;
  height: 600px;
  background: rgb(10, 53, 10);
  display: flex;
  justify-content: space-around;
  align-items: center;
  cursor: pointer;
}

#weaponName, #killerName, #roomName {
  font-size: 18px;
}

.killer-deck {
  width: 250px;
  height: 400px;
  background: #916563; 
  text-align: center;
  padding-top: 30px;
  border-radius: 16px;
}

.weapon-deck {
  width: 250px;
  height: 400px;
  background: #9C9BD7;
  text-align: center;
  padding-top: 30px;
  border-radius: 16px;
}

.room-deck {
  width: 250px;
  height: 400px;
  background: #9E433A;

  text-align: center;
  padding-top: 30px;
  border-radius: 16px;
}

button {
  padding: 8px 16px;
  background: #E0A29D;
  border: none;
  font-size: 20px;
  border-radius: 8px;
  cursor: pointer;
  display: block;
  margin: 0 auto;
}

.solution-container {
  content: '';
  display: flex;
  justify-content: center;
  padding: 100px;
  width: 50%;
}

#solution {
  background:#3D915D;
}


footer {
  text-align: center;
  background-color: #3D915D;
  padding: 100px 0px 40px 0px;
}

.footer-text {
  background-color:#3D915D;
  font-size: 14px;
}